 <div style="width:100%;">  
           <div class="myHeader">
            <div style="background-color: white;"><img src="../../assets/images/logo.gif"></div> 
            <div style="color: white ; font-size:35px"> Shopping Store</div>

            <div class="headerItem"   >
                <div  style="background-color:white ; border-color:white ; border-radius:15px ; border:none">
           <input type="text" style="background-color:white ; border-color:white ; border-radius:15px ; border:none"
                   placeholder="Search" />
                   <span style=" color: gray;">
                    <i class="fas fa-search fa-2x"></i>
                  </span>
               
                </div>
            </div>
           
           </div>



<nav class="navbar navbar-default" role="navigation">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav" style="color:#8B0000;">
            <li routerLinkActive="active" style="color:#8B0000; "><a routerLink="home" style="color:#8B0000;">Home</a></li>
            <li routerLinkActive="active" style="color:#8B0000;"><a routerLink="product" style="color:#8B0000;">Product</a></li>
        </ul>
    </div>
</nav>
</div>
